@import "variables.less";

@media screen{
	@media(max-width: 375px){
		html,body{
			width:auto;
		}

		.top{
			background: url("./images/bg-hero-mobile.svg") no-repeat center center;

			.top-header{
				padding:4% 6% 4%;
				align-items:center;

				img{
					width: 120px;
					height: 20px;
				}

				.top-right{
					height: 25px;
					width: 110px;
					font-size:12px;

					a{
						width: 110px;
						height: 25px;
					}
				}
			}

			.top-content{
				padding:2% 8% 4%;
				.flexPos(column,center,center);

				.top-text{
					.flexPos(column,center,center);

					h1{
						padding:10% 0% 10%;
						text-align: center;
						font-size:30px;
						line-height: 40px;
					}
					p{
						text-align: center;
					}
					.top-btn{
						.btnFormat(50px,250px);
					}
				}
				.top-right-img{				
					img{
						padding: 20% 0 10%;
					}
				}
			}
		}

		main{
			.content{
				.flexPos(column-reverse,center,center);
				margin:0% 6% 15%;

				.content-text{
					padding:10% 7% 12%;
					.flexPos(column,center,center);
					
					p{
						text-align: center;
					}
				}
				.content-img{
					padding:10% 5%;

				}
			}
			.content-reverse{
				.flexPos(column,center,center);
			}

			.bottom{
				.bottom-content{
					width: 340px;
					height: 200px;

					h1{
						text-align: center;
						font-size:20px;
					}

					a{
						.btnFormat(40px,200px);
						font-size:12px;
					}
				}	
			}	
		}

		footer{
			.bottem-wrapper{

				.flexPos(column,center,center);
				height: auto;
				padding:180px 20px 100px;

				.bottom-right{
					margin-left: 0;
					margin-bottom: 50px;

					.bottom-logo{
						width: 240px;
						height: 39px;
					}
					.bottom-info{

						p{
							padding:0;
						}
					}
				}
				
				.bottom-list{
					align-self:flex-start;
				}

				.bottom-media{
					padding:10% 0;
					i{
						margin-top: 0;
					}
				}
			}
		}
	}
}